[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "bloodyAD"
authors = [
    { name="CravateRouge", email="baptiste.crepin@ntymail.com" },
]
version = "1.1.0"
description = "AD Privesc Swiss Army Knife"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
]
dependencies = [
        "cryptography>=37.0.2",
        "ldap3>=2.9.1",
        "winacl>=0.1.7",
        "gssapi>=1.8.1 ; os_name != 'nt'",
        "winkerberos>=0.9.0; os_name == 'nt'",
        "pyasn1>=0.4.8",
]

[project.urls]
"Homepage" = "https://github.com/CravateRouge/bloodyAD"
"Bug Tracker" = "https://github.com/CravateRouge/bloodyAD/issues"

[project.scripts]
bloodyAD = "bloodyAD.main:main"