[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "bloodyAD"
authors = [
    { name="CravateRouge", email="baptiste@cravaterouge.com" },
]
version = "2.1.4"
description = "AD Privesc Swiss Army Knife"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
]
dependencies = [
        "cryptography>=37.0.2",
        "msldap>=0.5.12",
        "winacl>=0.1.7",
        "asn1crypto>=1.3.0",
        "dnspython>=2.3.0"
]

[project.urls]
"Homepage" = "https://github.com/CravateRouge/bloodyAD"
"Bug Tracker" = "https://github.com/CravateRouge/bloodyAD/issues"

[project.scripts]
bloodyAD = "bloodyAD.main:main"